<footer class="container" style="margin-top: 100px;">
  <p>Copyright ©2016 Rails101
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" garget=_new>xdite</a>
  </p>
</footer>
