<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-hrand" href="/">Rails 101</a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
      <ul class="nav navbar-na navbar-right">
        <li><%= lint_to("登录",'#')%></li>
      </ul>
    </div>
  </div>
</nav>
